extends layoutout

block content
  h2= title || "IDM"

  if !(typeof errmessage === 'undefined')
    p.errormsg= errmessage
  
  form(action="/login", method="POST")
    input.form-control(name="destination", type="hidden", value=destination)
    p
      input.form-control(name="username", type="text", value=username, placeholder="your email address")
    p
      input.form-control(name="password", type="password", placeholder="password")
    p
      button(type="submit")
        i.fa.fa-sign-in &nbsp;Log in
    if forgot_password
      p
        a(href=forgot_password) I forgot my password
