extends layout

block content
  div.patient
    h2 Update Subject Information
    form(action="/patients/#{patient.sssid}", method="POST")
      p SSSID:
      p
        input.form-control(name="sssid", type="text", value=patient.sssid)
      p Name:
      p
        input.form-control(name="name", type="text", value=patient.name)
      p
      p Email Address:
      p
        input.form-control(name="email", type="text", value=patient.email)
      p
        button(type="submit")
          i.fa.fa-save &nbsp;Update
        button(onclick="move();return false;")
          i.fa.fa-stop &nbsp;Cancel

      if !(typeof errorMessage === 'undefined')
        p.errormsg= errorMessage

      script.
        function move() {
          window.location.href = '/patients'
        }
