extends layout

block content
  div.patient
    if (patientId == 0)
      h2 New Subject
    else
      h2 Update Subject Information
    form(action="/patients/#{patientId}", method="POST")
    
      p SSSID:
      p
        input.form-control(name="sssid", type="text", value=patient.sssid)
      p Name:
      p
        input.form-control(name="name", type="text", value=patient.name)
      p
      p Email Address:
      p
        input.form-control(name="email", type="text", value=patient.email)
      p
        button(type="submit")
          if (patientId == 0)
            i.fa.fa-save &nbsp;Create
          else
            i.fa.fa-save &nbsp;Update
        button(onclick="cancel();return false;")
          i.fa.fa-stop &nbsp;Cancel

      if !(typeof errorMessage === 'undefined')
        p.errormsg= errorMessage

      script.
        function cancel() {
          window.location.href = '/patients'
        }
