extends layout

block vars
  - var title = "IDM: " + subject.name

block content
  div.subject
    if 0 == sssid
      h2 New Subject
    else
      h2= subject.name || "Subject"
    
    if !(typeof errorMessage === 'undefined')
      p.errormsg= errorMessage
    
    form(action="/subjects/#{sssid}", method="POST", onsubmit="return allInputDataValid('#subject-data')")
      table#subject-data.subject-table
        tbody
          if 0 != sssid
            tr
              td.subject_status(style="text-align:right;")
                div(class="status#{subject.status}")
              td= subject.human_status
          tr
            th SCCS-ID *:
            td(style="min-width:20em;")
              if 0 != sssid
                span.subject_sssid= sssid
              else
                input.form-control(name="sssid", type="text", value=subject.sssid)
          tr
            th Full Name *:
            td.subject_name
              input.form-control(name="name", type="text", value=subject.name)
          tr
            th Birthdate *:
            td
              input.form-control.date-validate(name="bday", type="date", value=subject.bday, onblur="formatDateTime(this, 'YYYY-MM-DD');")
              br
              span.small Use format <tt>YYYY-MM-DD</tt>
          tr
            th Email Address:
            td
              input.form-control(name="email", type="email", value=subject.email)
        tfoot
          tr
            th
            td
              button(type="submit")
                if 0 == sssid
                  i.fa.fa-plus-square
                  | Create
                else
                  i.fa.fa-save
                  | Update
              button(onclick="cancel();return false;")
                i.fa.fa-step-backward
                | Cancel
    
    if subject.status > 1 && subject.status < 3 && data_to_add
      hr
      h2 Add Research Data
      p.
        Data you enter here will be added to the subject's research data.
        You will see a success message next to the “Add” button but will not be able to change or delete the data you've added at a later point in time.
      
      table#research-data.subject-table
        thead
          th
          th Value
          th Date
        tbody
        each item in data_to_add
          tr
            th= item.humanDisplay
            td
              input.form-control.data-item-value(id="#{item.id}", name="#{item.id}", type="number", step="0.1")
              if item.unit
                = item.unit
            td
              input.form-control.data-item-datetime.date-validate(id="date_#{item.id}", name="date_#{item.id}", type="datetime", onblur="formatDateTime(this); enableDisableAddingButton();")
        tfoot
          tr
            th#addingStatus
            td
              button#addingButton(onclick='addResearchData("#{sssid}")')
                i.fa.fa-plus-square
                | Add
    
    if 0 != sssid
      h2 Activity Log
      table.list-table
        tbody#audit
          tr
            td.message(colspan='3')
              p Loading activity...
      
      script(id='tmpl_audit', type='x-tmpl-mustache').
        <tr>
          <td>{{ humanDateTime }}</td>
          <td>{{ actor }}</td>
          <td>{{ action }}</td>
        </tr>
    

block scripts
  script(src="/javascripts/subject.js")
  script.
    function cancel() {
      window.location.href = '/subjects';
    }
  if 0 != sssid
    script.
      $(document).ready(function() {
        loadAuditHistory('#{sssid}', '#audit');
        $('.data-item-datetime').attr('placeholder', moment().format('YYYY-MM-DD HH:mm'));
      });
  
