extends layout

block content
  script.
      function move(id) {
        window.location.href = '/patient/'+ id
      }

  - function convert (epoch) {
  -     var date = new Date(epoch);
  -     return (date.getMonth()+1) + "/" + date.getDate() +  "/" + date.getFullYear() ;
  - }

  .center
  table.pure-table
    thead
        tr
            th #
            th SSSID
            th eMail
            th State
            th Creation
            th Change State
            th Actions

    tbody
        - var b = 0
        for patient in patients
            if (b==0)
                - b = 1
                tr.pure-table-odd
                    case patient.state.id
                        when 0
                            td
                                img(src='/images/state0.png')
                        when 1
                            td
                                img(src='/images/state1.png')
                        when 2
                            td
                                img(src='/images/state2.png')
                    td
                        a(href='/patient/#{patient.id}')= patient.sssid
                    td= patient.email
                    td= patient.state.state
                    td #{convert(patient.creationDate)}
                    td #{convert(patient.changeStateDate)}
                    td
                        if patient.state.id==0
                            a(href='/mail/#{patient.id}')
                                img(src='/images/email_send.png', title='Send enrollment invitation', alt='Send enrollment invitation', style='width: 35%;')
                        if patient.state.id==1
                            a(href='/mail/#{patient.id}')
                                img(src='/images/email_resend.png', title='Resend enrollment invitation', alt='Resend enrollment invitation', style='width: 35%;')
            else
                - b=0
                tr
                    case patient.state.id
                        when 0
                            td
                                img(src='/images/state0.png')
                        when 1
                            td
                                img(src='/images/state1.png')
                        when 2
                            td
                                img(src='/images/state2.png')
                    td
                        a(href='/patient/#{patient.id}')= patient.sssid
                    td= patient.email
                    td= patient.state.state
                    td #{convert(patient.creationDate)}
                    td #{convert(patient.changeStateDate)}
                    td
                        if patient.state.id==0
                            a(href='/mail/#{patient.id}')
                                img(src='/images/email_send.png', title='Send enrollment invitation', alt='Send enrollment invitation', style='width: 35%;')
                        if patient.state.id==1
                            a(href='/mail/#{patient.id}')
                                img(src='/images/email_resend.png', title='Resend enrollment invitation', alt='Resend enrollment invitation', style='width: 35%;')
        else
          li no patients

  if !(typeof errMessage === 'undefined')
    p.errormsg= errMessage

  if !(typeof okMessage === 'undefined')
      p.okmsg= okMessage