extends layout

block vars
  - var title = "IDM: " + subject.name

block content
  div.subject
    if 0 == sssid
      h2 New Subject
    else
      h2= subject.name || "Subject"
    
    if !(typeof errorMessage === 'undefined')
      p.errormsg= errorMessage
    
    form(action="/subjects/#{sssid}", method="POST")
      table.subject-table
        tbody
          if 0 != sssid
            tr
              td.subject_status(style="text-align:right;")
                div(class="status#{subject.status}")
              td= subject.human_status
          tr
            th SSSID *:
            td(style="min-width:20em;")
              if 0 != sssid
                span.subject_sssid= sssid
              else
                input.form-control(name="sssid", type="text", value=subject.sssid)
          tr
            th Name *:
            td.subject_name
              input.form-control(name="name", type="text", value=subject.name)
          tr
            th Birthdate *:<br>
              span.small (YEAR-MM-DD)
            td
              input.form-control(name="bday", type="date", value=subject.bday)
          tr
            th Email Address:
            td
              input.form-control(name="email", type="email", value=subject.email)
        tfoot
          tr
            th
            td
              button(type="submit")
                if 0 == sssid
                  i.fa.fa-save &nbsp;Create
                else
                  i.fa.fa-save &nbsp;Update
              button(onclick="cancel();return false;")
                i.fa.fa-stop &nbsp;Cancel
    
    if subject.status > 0 && subject.status < 3 && data_to_add
      hr
      h2 Add Research Data
      table#research-data.subject-table
        tbody
        each item in data_to_add
          tr
            th= item.humanDisplay
            td
              input.form-control(id="#{item.id}", name="#{item.id}", type="number")
              if item.unit
                = item.unit
        tfoot
          tr
            th#addingStatus
            td
              button#addingButton(onclick='addResearchData("#{sssid}")')
                i.fa.fa-save &nbsp;Add

block scripts
  script(src="/javascripts/subject.js")
  script.
    function cancel() {
      window.location.href = '/subjects'
    }
